.light-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #ffffff;
}

.dark-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #000000;
}

.about-image {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .about-image {
    width: 250px;
  }
}

.light-about-heading {
  font-family: 'Roboto';
  font-size: 36px;
  color: #1e293b;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .light-about-heading {
    font-size: 48px;
  }
}

.dark-about-heading {
  font-family: 'Roboto';
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .dark-about-heading {
    font-size: 48px;
  }
}
