.light-navbar-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 0px 0px 2px #dcdcdc;
  background-color: #ffffff;
}

.dark-navbar-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #333333;
}

.navbar-content {
  width: 90%;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar-content {
    width: 80%;
    max-width: 1110px;
  }
}

.website-logo {
  width: 50px;
  height: 50px;
}

.nav-menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.nav-link {
  text-decoration: none;
}

.light-mode-item {
  font-family: 'Roboto';
  font-size: 16x;
  color: #171f46;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .light-mode-item {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.dark-mode-item {
  font-family: 'Roboto';
  font-size: 16x;
  color: #ffffff;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .dark-mode-item {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.theme-image {
  width: 30px;
  height: 30px;
}

.theme-button {
  background-color: transparent;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
}
